<ion-content>
  <div class="amount-editor">
    <div class="total-part" (click)="accept()">
      <div class="total">{{amount}}</div>
      <div class="accept">(Yes, you owe me this much. Tap me to accept.)</div>
    </div>

    <ion-grid class="actions" no-padding>
      <ion-row class="buttons">
        <ion-col col-6><button ion-button>C</button></ion-col>
        <ion-col><button ion-button><ion-icon name="backspace"></ion-icon></button></ion-col>
        <ion-col><button ion-button class="sign">÷</button></ion-col>
      </ion-row>
      <ion-row class="buttons">
        <ion-col><button ion-button>7</button></ion-col>
        <ion-col><button ion-button>8</button></ion-col>
        <ion-col><button ion-button>9</button></ion-col>
        <ion-col><button ion-button class="sign">×</button></ion-col>
      </ion-row>
      <ion-row class="buttons">
        <ion-col><button ion-button>4</button></ion-col>
        <ion-col><button ion-button>5</button></ion-col>
        <ion-col><button ion-button>6</button></ion-col>
        <ion-col><button ion-button class="sign">-</button></ion-col>
      </ion-row>
      <ion-row class="buttons">
        <ion-col><button ion-button>1</button></ion-col>
        <ion-col><button ion-button>2</button></ion-col>
        <ion-col><button ion-button>3</button></ion-col>
        <ion-col><button ion-button class="sign">+</button></ion-col>
      </ion-row>
      <ion-row class="buttons">
        <ion-col><button ion-button>0</button></ion-col>
        <ion-col><button ion-button>.</button></ion-col>
        <ion-col col-6><button ion-button class="equal">=</button></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>