page-borrower-picker {
    .results {
        margin-top: 10px;
        .item-inner {
            border-bottom: 0 !important;
        }
    }

    .empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100%;
        filter: opacity(0.5);

        img {
            width: 150px;
        }

        span {
            font-size: 1.2em;
            margin-top: 10px;
            max-width: 75%;
            text-align: center;
        }
    }
}
