<ion-header>

  <ion-navbar color="primary" mode="ios">
    <ion-buttons start>
      <button ion-button navPop icon-only>
        <ion-icon name="arrow-back" color="white"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar mode="ios" (ionInput)="search($event)">
    </ion-searchbar>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefreshFromPull($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list class="results" *ngIf="searchResults?.length != 0">
    <button ion-item *ngFor="let borrower of searchResults" (click)="doClickEvent(borrower)">
      <ion-avatar item-start>
        <img [src]="borrower.image">
      </ion-avatar>
      <h2>{{borrower.name}}</h2>
    </button>
  </ion-list>

  <div class="empty" *ngIf="searchResults?.length == 0 && isFinishedInitializing">
    <img src="assets/imgs/payables_paid.png">
    <span>I got nothing to show here, lemme just show you my money!</span>
  </div>

  <ion-fab bottom right #fab>
    <button ion-fab color="primary">
      <ion-icon name="person-add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="openBorrowerEditor(); fab.close()">
        <ion-icon name="create"></ion-icon>
        <ion-label>Add manually</ion-label>
      </button>
      <button [class.disabled]="!isApp" ion-fab (click)="openContactsPicker(); fab.close()">
        <ion-icon name="call"></ion-icon>
        <ion-label>Add from phonebook</ion-label>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>