<ion-content>

  <div class="dashboard">
    <div class="top">
      <div class="popup-more">
        <button ion-button icon-only clear (click)="showPopupMore($event)">
          <ion-icon name="settings" color="black"></ion-icon>
        </button>
      </div>
      <div class="image">
        <img (click)="pickImage()" *ngIf="!user" src="assets/imgs/user-placeholder.jpg">
        <img (click)="pickImage()" *ngIf="user" [src]="user?.image">
        <input class="hide" type="file" name="image" #imageFile (change)="changeImage(imageFile.files)">
      </div>
      <div class="greetings" [style.visibility]="user != null ? 'visible' : 'hidden'">Hello {{user?.id}}!</div>
    </div>

    <ion-content class="info">
      <ion-refresher (ionRefresh)="doRefreshFromPull($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh">
        </ion-refresher-content>
      </ion-refresher>

      <div>
        <ion-card color="primary">
          <ion-card-header class="header">
            Collectibles
          </ion-card-header>
          <ion-list>
            <button ion-item (click)="openPayablesPage()">
              <ion-icon class="topay" name="sad" item-start></ion-icon>
              To pay
              <ion-badge item-end color="danger">{{totalPayables | formatCurrency}}</ion-badge>
            </button>

            <button ion-item (click)="openReceivablesPage()">
              <ion-icon name="logo-freebsd-devil" item-start></ion-icon>
              To collect
              <ion-badge item-end color="danger">{{totalReceivables | formatCurrency}}</ion-badge>
            </button>
          </ion-list>
        </ion-card>
      </div>
    </ion-content>
  </div>
</ion-content>