page-dashboard {
    .dashboard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 100%;

        .top {
            flex: 1;
            max-height: 185px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            background-color: map-get($colors, danger);
            position: relative;

            .popup-more {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 10;
            }

            .image {
                margin-top: 20px;
                z-index: 10;
                margin-bottom: 10px;
                img {
                    height: 125px;
                    width: 125px;
                    border-radius: 50%;
                }
            }
    
            .greetings {
                font-size: 1.5em;
                font-weight: 400;
                text-transform: uppercase;
                text-align: center;
                z-index: 10;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: calc(100% + 60px);
                z-index: 2;
                background-color: map-get($colors, danger);
            }
        }        

        .info {
            position: relative;
            width: 100%;
            flex: 1;
            max-width: 800px;
            z-index: 2;
            background-color: transparent;

            .card {
                margin-top: 20px;
            }

            .header {
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
            }

            .topay {
                margin-right: 12px;
            }

            .scroll-content {
                border-top: none;
                margin-bottom: 0 !important;
            }
        }
        
        .alert {
            button {
                margin: 0;
                border-radius: 0;
            }
        }
    }
}
