page-public-debt-info {
  .header-container {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: map-get($colors, secondary) url("../assets/imgs/banderitas.png") repeat-x center 224px;
    color: white;

    .image {
      margin-top: -20px;
      max-width: 100px;
      cursor: pointer;
    }

    .action-buttons {
      button {
        position: absolute;
        top: 0;
        box-shadow: none;
        background-color: transparent;
      }

      .back {
        left: 0;
      }

      .edit {
        right: 0;
      }
    }

    .amount {
      font-size: 3em;
    }
  }

  .borrower-info {
    margin-top: 10px;

    .name-part {
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;

      .image {
        margin-left: 20px;
        margin-right: 20px;
        align-self: flex-start;

        img {
          height: 60px;
          width: 60px;
          min-height: 60px;
          min-width: 60px;
          border-radius: 50%;
        }
      }

      .right {
        flex-grow: 2;

        .name {
          margin-bottom: 0;
        }

        .duedate {
          margin-top: 0;
          font-weight: normal;
          font-size: 1.5rem;
          color: gray;
        }
      }
    }

    .contact-part {
      button {
        &.sms .icon {
          color: #49d536;
        }

        &.facebook .icon {
          color: #3b5998;
        }

        &.skype .icon {
          color: #00AFF0;
        }

        &.paypal .icon {
          color: #253b80;
        }

        &.bank .icon {
          color: #ffbf00;
        }
      }
    }
  }

  .sub-info-header {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;

    .title {
      font-size: 1.3em;
    }

    .ruler {
      background-color: gray;
      flex-grow: 1;
      margin: 7px;
    }
  }

  .supplement {
    color: grey;
  }

  .promotion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: map-get($colors, danger);
    color: #000000;
    cursor: pointer;

    .logo {
      max-height: 150px;
      padding-right: 10px;
    }

    .tagline {
      font-size: 1.1em;
      padding: 10px;
      margin: 0 auto;
    }

    .signature {
      font-weight: bold;
    }
  }

  .list {
    .label {
      white-space: normal;
    }
  }
}
