<ion-content>
  <div class="header-container">
    <div class="image" (click)="openAppWebsite()">
      <img class="logo" src="assets/imgs/logo-with-text-small.png" alt="Logo">      
    </div>
    <div class="amount">
      {{debt.total | formatCurrency}}
    </div>
    <ion-badge *ngIf="isDebtPaid" color="danger">You have already paid this.</ion-badge>
    <ion-badge *ngIf="!isDebtPaid" color="realdanger">You have not paid this.</ion-badge>
  </div>
  <div class="borrower-info" padding>
    <div class="name-part">
      <div class="image">
        <img [src]="debt.borrower?.image">
      </div>
      <div class="right">
        <h3 class="name">Hi {{debt.borrower?.singleName}}!</h3>
        <h5 class="duedate">Please see below for the details of the debt and how you may be able to pay me or contact
          me. Thanks!</h5>
      </div>
    </div>
    <div class="otherinfo-part">
      <div class="sub-info-header">
        <div class="title">
          Details
        </div>
        <div class="ruler"></div>
      </div>
      <ion-list mode="md">
        <ion-item mode="md" class="description">
          <b>Description:</b> {{debt.description}}
        </ion-item>

        <ion-item mode="md">
          <b>Date of debt:</b> {{debt.borrowedDateString}} <i>({{dueDateStringPart}})</i>
        </ion-item>

        <ion-item mode="md">
          <b>Amount:</b> {{debt.amount | formatCurrency}}
        </ion-item>

        <ion-item mode="md">
          <b>Interest:</b> {{debt.interest}}%
        </ion-item>
      </ion-list>
    </div>
    <div class="contact-part">
      <div class="sub-info-header">
        <div class="title">
          Pay me via
        </div>
        <div class="ruler"></div>
      </div>
      <ion-list mode="md">
        <button ion-item mode="md" class="bank" text-wrap>
          <ion-icon name="ui-bank" item-start></ion-icon>
          {{user.bankAccount || "No bank account provided"}}<br />
          <span class="supplement" *ngIf="user?.bankAccount">Fund transfer to this account using your bank platform
            (e.g. mobile app, web app, atm)</span>
        </button>

        <button ion-item mode="md" class="paypal" [disabled]="!user?.paypal" (click)="openPaypal()">
          <ion-icon name="ui-paypal" item-start></ion-icon>
          {{user.paypal || "No paypal provided"}}
          <ion-badge item-end *ngIf="user?.paypal">Paypal ></ion-badge>
        </button>
      </ion-list>
    </div>
    <div class="contact-part">
      <div class="sub-info-header">
        <div class="title">
          Contact me via
        </div>
        <div class="ruler"></div>
      </div>
      <ion-list mode="md">
        <button ion-item mode="md" class="sms" [disabled]="!user.cellNumber" (click)="openSMS()">
          <ion-icon name="text" item-start></ion-icon>
          {{user.cellNumber || "No cell number provided"}}
          <ion-badge item-end *ngIf="user?.cellNumber">Text now ></ion-badge>
        </button>

        <button ion-item mode="md" class="facebook" [disabled]="!user.messenger" (click)="openMessenger()">
          <ion-icon name="logo-facebook" item-start></ion-icon>
          {{user.messengerId || "No messenger provided"}}
          <ion-badge item-end *ngIf="user?.messengerId">PM now ></ion-badge>
        </button>

        <button ion-item mode="md" class="skype" [disabled]="!user.skype" (click)="openSkype()">
          <ion-icon name="logo-skype" item-start></ion-icon>
          {{user.skypeId || "No skype provided"}}
          <ion-badge item-end *ngIf="user?.skypeId">DM now ></ion-badge>
        </button>

        <button ion-item mode="md" [disabled]="!user.address" (click)="openMap()">
          <ion-icon name="navigate" item-start></ion-icon>
          {{user.address || "No address provided"}}
          <ion-badge item-end *ngIf="user?.address">Find now ></ion-badge>
        </button>
      </ion-list>
    </div>

  </div>
  <div class="promotion">
    <p class="tagline">
      Do you want something <b>like this</b>?<br />
      Something that <b>reminds those who owes</b> you?<br />
      Something that <b>keeps track of the money</b> you had lent or borrowed?<br />
      <br />
      No more crap, just click this beautiful yellow box.
      <br />
      <br />
      - <i class="signature">Utang Inamo</i>
    </p>
  </div>
</ion-content>