page-debt-listing {
    .header {
        background-color: map-get($colors, primary);

        .toolbar-title {
            color: white;
        }
    }

    .title {
        padding-top: 10px;
    }

    .segmenter {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        
        .segment-button {
            line-height: 1;
        }

        .segment-info {
            line-height: 1.4;
        }

        .segment-total {
            font-size: 10px;
        }
    }

    .info {
        display: flex;

        .text {
            flex-grow: 1;
            overflow: hidden;
            * {
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .duedate {
                color: map-get($colors, light);
            }
        }

        .amount {
            display: flex;
            align-items: center;
        }
    }

    .options {
        button {
            min-width: 50px;

            &.sms {
                background-color: #49d536;
            }

            &.facebook {
                background-color: #3b5998;
            }

            &.skype {
                background-color: #00AFF0;
            }
            
        }
    }
}
